/* Google Fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

#mapid {
    max-width: 75%;
    height: 400px;
    margin: 0 auto;
}

body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

body.show{
    overflow: hidden;
}

a{
    color: black;
}

a:visited{
    color: black;
}

/* HERO SECTION */
.hero {
    padding: 45px 0 45px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    z-index: 1;
}

.video{
    top: -100px;
    left: 0;
    position: fixed;
    z-index: -1;
}

/* Responsive video */
@media only screen and (min-aspect-ratio: 16/9) {
    .video{
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-aspect-ratio: 16/9) {
    .video{
        width: auto;
        height: 100%;
    }
    
}

.content_hero{
    max-width: 1000px;
    z-index: 2;
}

.content_hero input{
    width: 300px;
    height: 35px;
    border: 1px solid #7f7f77;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    text-align: center;
}

.content_hero .search{
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background: #dbd9d9;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.content_hero .search:hover{
    background-color: rgb(67, 67, 255);
    transition: all 0.5s ease;
    color: white;
}
/* END OF HERO SECTION */

/* FLAT LIST SECTION */
.flat_list{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flat_list h2{
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
}

.flat_list img{
    max-width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.container p{
    line-height: 2.0;
}

.container_card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card_text {
    padding: 10px 15px 15px 15px;
}

.card_text h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.card_text p {
    margin-top: 10px;
    line-height: 1.4;
    font-size: 14px;
}

.card_custom{
    padding: 2px 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 250px;
    margin : 20px;
}

.card_text a{
    padding: 4px 20px;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background: #0067D5;
    color: white;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    text-decoration: none;
}

.garis{
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* END OF FLAT LIST SECTION */

/* FOOTER SECTION */

.footer_custom {
    background: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.footer_custom img{
    width: 150px;
    height: 150px;
    
}

.footer_custom ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer_custom li{
    display: inline;
}

.footer_custom li a{
    text-decoration: none;
    font-size: 16px;
    padding: 14px 16px;
    font-weight: 500;
}

.footer_box_link p{
    font-weight: 700;
}

.footer_box{
    width: 150px;
    margin : 20px
}

.footer_box_link{
    width: auto;
    margin : 20px;
    text-align: center;
}

/* END OF FOOTER SECTION */

/* Responsive modal */
/* For tablet */
@media only screen and (max-width : 768px) { 

    /* Login modal */
    /* .login_isi{
        width: 330px;
    }
    .login_isi img{
        width: 330px;
    } */
    
    /* Uncomment this if want turn video off for tablets. */
    /* .video{
        display: none;
    } */
}

/* For mobile */
@media only screen and (max-width: 600px) {
    .hero{
        background-color: #bb7944;
    }

    .video{
        display: none;
    }
    
}